#title_auth {
  background-image: url(../../../../public/svg/fragments/gold-texture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
}

#errorMessage {
  background-image: url(../../../../public/svg/fragments/gold-texture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-clip: text;
  color: transparent;
}

.inputBorder {
  background-image: url(../../../../public/svg/fragments/gold-texture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  background-clip: border-box;
}
