.aboutUs {
  width: auto;
  height: auto;
  background-position: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-position: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  padding-bottom: 100px;
}

.triangleIcons {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .aboutUs {
    width: auto;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-top: 70px;
    font-size: 13px;
  }
}
