.aboutFilosofi {
  background-image: url(../../public/svg/fragments/blackshadow-underneath.svg),
    url(../../public/img/fragments/blackuppershadow.png),
    url(../../public/img/background/bg-au.png);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: bottom, top, center;
  background-size: 110%;
}
.bgCredits {
  background-image: url(../../public/svg/background/shader-credit.svg),
    url(../../public/img/background/bg-panduan.png);
  background-repeat: no-repeat, repeat;
  background-position: bottom, center;
  background-size: 100%;
}

#text_clip {
  background-image: url(../../public/svg/fragments/gold-texture.png);
  background-position: center;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 150%;
  color: transparent;
}

.dot {
  background-image: url(../../public/svg/fragments/gold-texture.png);
  background-position: center;
  background-repeat: no-repeat;
}

.inputBorder {
  background-image: url(../../public/svg/fragments/gold-texture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  background-clip: border-box;
}

#votenow {
  border: 1px solid white;
  padding: 2px;
  border-radius: 50px;
  margin-left: 15px;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

#votenow:hover {
  background-image: url("../../public/svg/fragments/gold-texture.png");
  border: none;
  background-position: center;
}
