@font-face {
  font-family: "Jaoren";
  src: url("../assets/fonts/Jaoren.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#nominasi {
  position: relative;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.videoBg {
  position: absolute;
  padding: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.title-nominasi {
  font-family: "Jaoren";
}

h1 {
  font-weight: 900;
}

h2 {
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: goldenrod;
}

.title-bawah {
  background-image: var(--gold-texture);
  background-position: center;
  background-size: 110%;
  background-clip: text;
  color: transparent;
}

.content-nominasi {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.li-nominasi {
  cursor: pointer;
  list-style: none;
  padding: 10px 2.7px;
  background: var(--white);
  border-radius: 20px;
  background-image: none;
  justify-content: center;
  align-items: center;
  gap: 2.7;
  display: inline-flex;
  transition: all 0.1s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

.li-nominasi:hover {
  background-image: var(--gold-texture);
  background-size: 120%;
  background-position: center;
}

.list .button-list {
  cursor: pointer;
  font-family: "Poppins";
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

.popup-container {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  text-align: center;
}
.popup-container > span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
}

.fav-nom {
  width: 266px;
  height: 383px;
  background-image: var(--gold-texture);
  background-size: 200%;
  background-position: center;
}

.fav-nom::before {
  position: absolute;
  content: var(--piala);
}

.fav-nom > p {
  -webkit-text-stroke: 0.5px var(--gold);
  z-index: 1;
}

.etc-nom {
  width: 50%;
  min-width: 266px;
  height: cover;
  display: grid;
  grid-column: repeat(auto-fit);
  grid-gap: 10px;
  color: var(--white);
}

.etc-nom > span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gold);
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
}
.etc-nom > p {
  color: var(--white);
  -webkit-text-stroke: 0.5px var(--gold);
}

.gradient-top {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    0deg,
    rgba(55.59, 55.59, 55.59, 0) 0%,
    black 100%
  );
}

.gradient-bot {
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    180deg,
    rgba(55.59, 55.59, 55.59, 0) 0%,
    black 100%
  );
}
