#rangkaian {
  height: 100vh;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-rangkaian {
  display: flex;
  flex-direction: column;
}

.vector-atas {
  width: 321px;
  height: 35px;
}

.atas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-rangkaian {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 30px;
}

.acara {
  display: flex;
  gap: 240px;
  justify-content: center;
}

.list-acara {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 37px;
  text-align: center;
  color: var(--white);
  font-family: "Poppins";
  font-size: 12px;
}

.text {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  gap: 10px;
}

.text > p {
  margin-top: 10px;
}
