.about-us {
    width: auto;
    height: auto;
    background-position: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-position: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    padding-bottom: 140px;
}

#about-us-info {
    margin-left: 25vh;
    margin-right: 25vh;
    margin-top: 40px;
    text-align: center;
    font-family: 'Poppins';
}

.triangle-icons {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.triangle-icons img {
    width: auto;
}

@media (max-width: 768px) {
    #about-us-img {
        width: 50%;
        margin-top: 5%;
    }

    .triangle-icons img {
        width: 20%;
    }

    #about-us-info {
        width: auto;
        margin-left: 12vh;
        margin-right: 12vh;
        margin-top: 70px;
        font-size: 13px;
    }
}