#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.about-filosofi {
  background-image: url(./assets/img/blackuppershadow.png), url(./assets/img/goldenpatternbg.png);
  background-repeat: no-repeat, repeat;
}
