#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.about-filosofi {
  background-image: url(./assets/img/blackshadow-underneath.svg), url(./assets/img/blackuppershadow.png), url(./assets/img/goldenpatternbg.png);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: bottom, top, center;

}
